
/data

NuScenes/nuscenes-devkit
NuScenes/.notebook

MapTR/ckpts
MapTR/docs
MapTR/figs
MapTR/mmdetection3d
MapTR/projects
MapTR/tools
MapTR/assets
MapTR/transform/*pkl
MapTR/.gitignore
MapTR/LICENSE
MapTR/README.md
MapTR/requirement.txt
