/.notebook
/.vscode
/data
/MapPerturbation
*.pkl
*.pyc
/MapTR
MapTR_local/tools/maptrv2/map_perturbation/old/
MapTR_local/tools/maptrv2/map_perturbation/__pycache__
/nuscenes-devkit
MapTR_local/tools/maptrv2/map_perturbation/visual